h1,
h2,
h3, 
h4 {
    font-family: $font-family-headlines;
    margin: 0;
}

h1 {
    font-size: $font-size-h1;
    text-align: center;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

p {
    font-family: $font-family-default;
    margin: 0;
}