@use './variables';

input:not([type="button"], [type="checkbox"]) {
    width: 100%;
    border-radius: 7px;
    border: none;
    background-color: transparent;
    font-family: variables.$font-family-default;
    font-size: variables.$font-size-default;
    padding: 6px 0.5rem 4px;

    &:focus-visible {
        outline: 1px solid rgba(0, 0, 0, 0.1);
    }
}

button {
    cursor: pointer;
    padding: 3px;
    background-color: transparent;
    border: none;
    border-radius: 7px;
    display: flex;
    align-items: center;
    transition: 0.2s ease;
    height: auto;
    aspect-ratio: 1/1;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    >span.text {
        margin: 1px 5px 0 3px;
    }

    &:has(> span.text) {
        height: auto;
        aspect-ratio: unset;
    }
}