$white: #fff;
$primary: #ed0076;
$secondary: #063ac8;

$font-family-default: 'Josefin Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
$font-family-headlines: 'Shantell Sans';

$font-size-default: 1rem;
$font-size-h1: 2rem;
$font-size-h2: 1.8rem;
$font-size-h3: 1.6rem;
$font-size-h4: 1.4rem;
$font-size-h5: 1.2rem;