$white: #fff;
$black: #000;
$blue: #023e6f;
$red: #db3401;

$lightred: #ff6a6a;
$lightgreen: #bef983;

$font-family-default: 'Josefin Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
$font-family-headlines: 'Shantell Sans';

$font-size-default: 1rem;
$font-size-h1: 2.2rem;
$font-size-h2: 2rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.4rem;