@import '../style.scss';

header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 2rem 1.5rem 1rem;
    align-items: center;

    >.icon {
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;

        &:hover,
        &.open,
        &.notify {
            font-variation-settings: 'FILL' 1;
        }

        &.notify {
            animation: ring 2s ease-in-out infinite normal forwards;
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 0.55rem;
                height: 0.55rem;
                top: 0.25rem;
                right: 0.25rem;
                border-radius: 50%;
                background-color: $red;
            }
        }
    }
}

@keyframes ring {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 0;
    }

    5% {
        transform: rotate(2deg);
    }

    10%,
    20%,
    30% {
        transform: rotate(-4deg);
    }

    15%,
    25%,
    35% {
        transform: rotate(4deg);
    }

    40% {
        transform: rotate(-2deg);
    }

    45% {
        transform: rotate(2deg);
    }

    50% {
        transform: rotate(0);
    }
}