header {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    position: relative;
    padding: 2rem 1.5rem;
    align-items: center;

    >.icon {
        font-size: 2rem;
        font-weight: 600;
        cursor: pointer;

        &:hover,
        &.open {
            font-variation-settings: 'FILL' 1;
        }
    }
}