@import '../style.scss';

section.list_item {
    background-color: $white;
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}