@import '../style.scss';

section.list_wrapper {
    width: 20rem;
    height: fit-content;
    filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.5));

    .list_title_wrapper {
        background-image: url('../images/list-top.svg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3.5rem 0.5rem 0.5rem;

        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            background: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
            position: absolute;
            z-index: 20;
            left: 0;
            bottom: 0;
            transform: translateY(100%);
        }

        input {
            &.list_title {
                font-size: $font-size-h3;
                font-weight: 600;
                text-align: center;
            }
        }
    }

    .list_item_wrapper {
        max-height: calc(100vh - 21rem);
        overflow-y: scroll;
    }

    .list_bottom_wrapper {
        background-image: url('../images/list-bottom.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: bottom;
        padding: 0.5rem 0.5rem 1.5rem;
        margin-top: -1px;
        display: flex;
        justify-content: center;

        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
            position: absolute;
            z-index: 20;
            left: 0;
            top: 0;
            transform: translateY(-100%);
        }

        i {
            font-size: $font-size-h1;
            color: #000;
            font-weight: 600;
            width: auto;
            text-align: center;
            cursor: pointer;
            opacity: 0.5;
            transition: 0.2s ease;

            &:hover {
                opacity: 1;
            }
        }
    }
}