@import '../../style.scss';

.notification_wrapper {
    display: grid;
    grid-template-columns: 1fr 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    align-items: center;

    .infotext {
        .date {
            color: $red;
        }

        h4 {
            font-family: $font-family-default;
            margin: 0.5rem 0 0;
        }
    }
}