@import 'styles/variables';
@import 'styles/forms';
@import 'styles/fonts';

* {
    box-sizing: border-box;
    font-family: $font-family-default;
    position: relative;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(160deg, #004278 -20%, #083050 120%);
    color: #fff;
}

main {
    width: 100vw;
    height: calc(100vh - 6rem);
    padding: 0 2rem;
}

.detailpage_wrapper {
    height: calc(100vh - 10rem);
    margin: 2rem auto 0;
}